<router-outlet>
  <div class="flex flex-col items-center bg-black min-h-screen">
    <!-- Frase en el centro -->
    <h1 class="text-center text-white text-3xl mb-4">Find your Pokemon</h1>
  
    <!-- Imagen de Internet -->
    <img
      src="https://img.icons8.com/color/480/pokeball.png"
      alt="Pokémon"
      class="mb-4 w-1/6 max-w-lg animate-spin-slow"
    />
  
    <!-- Contenedor del scrollbar y multi-select -->
    <div class="flex items-center mb-4">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
        placeholder="Search for a Pokémon"
        class="label:bg-transparent p-2 rounded border border-white bg-transparent text-white text-center mr-2 placeholder:text-white placeholder:opacity-50"
      />
      
      <p-multiSelect
        [options]="types"
        [(ngModel)]="selectedTypes"
        optionLabel="name"
        placeholder="Select Types"
        display="chip"
        [showClear]="true"
        class="w-48 border border-white bg-transparent placeholder-transparent "
      ></p-multiSelect>
    </div>
  
    <div class="flex flex-wrap justify-center my-2">
      <div
        *ngFor="let pokemon of filteredPokemonList"
        class="card w-80 mx-2 mb-4 bg-transparent border-white text-center"
      >
        <div class="card-body flex flex-col items-center">
          <div class="flex items-center mb-2">
            <h5 class="text-white text-center">{{ pokemon.name | titlecase }}</h5>
            <span class="text-white text-center ml-2">#</span>
            <span class="text-white text-center ">{{ pokemon.order }}</span>
          </div>
  
          <img
            *ngIf="pokemon.sprites?.other['official-artwork']?.front_default"
            [src]="pokemon.sprites.other['official-artwork'].front_default"
            alt="{{ pokemon.name }}"
            class="w-1/2 mb-2"
          />
  
          <div *ngIf="pokemon.types" class="flex justify-center flex-wrap mb-2">
            <img
              *ngFor="let type of pokemon.types"
              [src]="type.iconUrl"
              [alt]="type.type.name"
              class="w-28 h-5 m-1 min-w-[50px] min-h-[30px]"
            />
          </div>

          <!-- Barra de progreso de estadísticas -->
          <div *ngIf="pokemon.stats" class="w-full mt-2 mb-4">
            <div *ngFor="let stat of pokemon.stats" class="my-1">
              <!-- Nombre de la estadística en texto -->
              <label class="text-white text-sm">{{ stat.stat.name | titlecase }}</label>
              <!-- Contenedor de la barra de progreso -->
              <div class="w-full bg-gray-700 h-2 rounded">
                <!-- Barra de progreso que representa el base_stat -->
                <div
                  class="h-full bg-purple-600 rounded"
                  [style.width.%]="stat.base_stat / 1.5"
                ></div>
              </div>
            </div>
          </div>
  
          <!-- Botón de PrimeNG -->
          <p-button
            pButton
            type="button"
            label="More Details"
            (click)="goToDetail(pokemon.id)"
            class="min-w-min bg-purple-600 text-center text-white">
          </p-button>
        </div>
      </div>
    </div>
  </div>
</router-outlet>

